/* stylelint-disable-next-line import-notation */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 12px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 50px;
}

.header__nav {
  margin-top: 0;
}

.nav__list {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
}

.header__logo {
  display: flex;
}

.nav__link {
  display: flex;
  color: #000;
  align-items: center;
  height: 60px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav__link[data-qa='hover']:hover {
  color: blue;
}

.nav__link.is-active {
  position: relative;
  color: blue;
}

.nav__link.is-active::after {
  content: '';
  background-color: blue;
  width: 100%;
  height: 4px;
  border-radius: 15px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.nav__item:not(:last-child) {
  margin-right: 20px;
}
